.vscode
Gemfile.lock
*/public/
.jekyll-cache
public
node_modules
package-lock.json
production
Gemfile.lock
Gemfile.lock
_scripts
assets/images/
assets/videos/
_python/venv/
debug.log
TEMPLATE
_raw_images/front-image.afphoto
