<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Frequently Asked Questions</h1>
            <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
        </div>
        <div class="row gx-5">
            <div class="col-xl-8">
                <!-- FAQ Accordion 1-->
                <h2 class="fw-bolder mb-3">Account &amp; Billing</h2>
                {% assign i = 0 %}
                {% assign faq = site.faq | where:'category','Account' %}
                <div class="accordion mb-5" id="accordion{{ q.category }}{{ i }}">
                    {% for q in faq %}
                    {% assign i = i|plus:1 %}
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="heading{{ q.category }}{{ i }}"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ q.category }}{{ i }}" aria-expanded="false" aria-controls="collapse{{ q.category }}{{ i }}">{{ q.question }}</button></h3>
                        <div class="accordion-collapse collapse" id="collapse{{ q.category }}{{ i }}" aria-labelledby="heading{{ q.category }}{{ i }}" data-bs-parent="#accordion{{ q.category }}{{ i }}">
                            <div class="accordion-body">
                                {{ q.content | markdownify }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <!-- FAQ Accordion 2-->
                <h2 class="fw-bolder mb-3">Website Issues</h2>
                {% assign i = 0 %}
                {% assign faq = site.faq | where:'category','Website' %}
                <div class="accordion mb-5" id="accordion{{ q.category }}{{ i }}">
                    {% for q in faq %}
                    {% assign i = i|plus:1 %}
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="heading{{ q.category }}{{ i }}"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ q.category }}{{ i }}" aria-expanded="false" aria-controls="collapse{{ q.category }}{{ i }}">{{ q.question }}</button></h3>
                        <div class="accordion-collapse collapse" id="collapse{{ q.category }}{{ i }}" aria-labelledby="heading{{ q.category }}{{ i }}" data-bs-parent="#accordion{{ q.category }}{{ i }}">
                            <div class="accordion-body">
                                {{ q.content | markdownify }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 bg-light mt-xl-5">
                    <div class="card-body p-4 py-lg-5">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">Have more questions?</div>
                                <p class="text-muted mb-4">
                                    Contact us at
                                    <br />
                                    <a href="#!" >support@domain.com</a>
                                </p>
                                <div class="h6 fw-bolder">Follow us</div>
                                <a class="fs-5 px-2 link-dark no-decoration" href="#!">
                                    {% assign icon = site.data.icons["twitter"] %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-dots"
                                        viewBox="0 0 16 16">
                                        {% for code in icon.code %}
                                        <path d="{{ code }}" />
                                        {% endfor %}
                                    </svg>
                                </a>
                                <a class="fs-5 px-2 link-dark no-decoration" href="#!">
                                    {% assign icon = site.data.icons["facebook"] %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-dots"
                                        viewBox="0 0 16 16">
                                        {% for code in icon.code %}
                                        <path d="{{ code }}" />
                                        {% endfor %}
                                    </svg>
                                </a>
                                <a class="fs-5 px-2 link-dark no-decoration" href="#!">
                                    {% assign icon = site.data.icons["linkedin"] %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-dots"
                                        viewBox="0 0 16 16">
                                        {% for code in icon.code %}
                                        <path d="{{ code }}" />
                                        {% endfor %}
                                    </svg>
                                </a>
                                <a class="fs-5 px-2 link-dark no-decoration" href="#!">
                                    {% assign icon = site.data.icons["youtube"] %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-dots"
                                        viewBox="0 0 16 16">
                                        {% for code in icon.code %}
                                        <path d="{{ code }}" />
                                        {% endfor %}
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>