<div class="container mt-4">
    <div class="row">
        {% for sample in site.sample_collection %}
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="card border-0 mb-3" style="max-width: 20rem;">
                <div class="card-header">{{sample.name}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ sample.prop1 }}</h4>
                    <p class="text-muted">{{ sample.prop2 }}</p>
                    <p class="card-text">{{ sample.content | markdownify }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>